.App{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.dv:hover .list{
  color: #42b3e4db;
  padding-left: 1rem;
  /* width: 145%; */
  transition: all ease-in-out 0.2s;
}
.dv:hover{
  transition: all ease-in-out 0.2s;

  background-color: #ffffff53;

}
.list{
  padding-left: 1rem;
}
.box:hover{
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.681);
  
}
.contact{
  /* background-image: linear-gradient(to top, #add6e8, #c7dff1, #dee8f6, #f1f3fb, #ffffff); */
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(173, 214, 232, 0.286) 0%);
box-shadow: 0rem -1.5rem 1rem rgba(173, 214, 232, 0.281);
}



