.App{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.dv:hover .list{
  color: #42b3e4db;
  padding-left: 1rem;
 
  transition: all ease-in-out 0.2s;
}
.dv:hover{
  transition: all ease-in-out 0.2s;

  background-color: #ffffff53;

}
.list{
  padding-left: 1rem;
}
.box:hover{
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0px -5px 0px  #42b3e4db;
 
  
}
.box:hover img{
  scale: 1.1;
}

  

.contact{
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(173, 214, 232, 0.286) 0%);
box-shadow: 0rem -1.5rem 1rem rgba(173, 214, 232, 0.281);
}


