

::-webkit-scrollbar-button {
    height: 2px;
  }
  ::-webkit-scrollbar {
      width: 9px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
      /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.542); */
      background: #0002;
      -webkit-border-radius:10px;
      border-radius: 10px;
  }
  /* Handle */
 .dark ::-webkit-scrollbar-thumb  {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #add6e8da;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
  }

 



  ::-webkit-scrollbar-thumb:window-inactive {
  background: #add6e896;
  }
  
  
  